[flake8]
max-line-length=120

ignore=
  E402, 
  E501,  # line-too-long covered by pylint
  F401,  # unused-import covered by pylint.
  F841,  # local variable name is assigned to but never used doesn't allow underscores
  W503  # W503 has been replaced by W504
